<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body style="background-color:#fff;">
{% load i18n %}
      {% load i18n_address_tags %}{% load static %}
<table style="background:#ffffff;position: relative; font-family: 'Poppins', sans-serif;  border-spacing: 0; border-collapse:collapse; width: 100%; margin: 0 auto;">
    <tbody>
    <tr>
        <td colspan="2" style="text-align: center;">
            <p style="font-weight: 500;
                    font-size: 15px;
                    color: #000;
                    text-align: center;
                    margin: 40px auto;
                    line-height: 36px;">
                {% trans "Merhaba" noop %}<br/><br/>

                {% trans "Şifreni tekrar oluşurmak için link'e tıklaman yeterli." noop %}<br/>
                {% trans "Yardıma ihtiyacin var ise direkt bize email atabilirsin." noop %}<br/>
            </p>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: center;">
            <p style="font-weight: 500;margin-top: 30px;
                    font-size: 15px;
                    color: #000;
                    line-height: 36px;
                    text-align: center;
                    margin: 0px auto;">
                {% trans "You can re-create a password by just clicking the link" noop %} <br/>
                {% trans "If you need any help you can directly send us an email." noop %} <br/>
                {% trans "Happy Days" noop %} <br/>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;padding-top:20px;">
            <a href="{{confirm_url}}" style="background: #7a38da;
    padding: 10px 25px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-size: 14px;">{% trans "Change password" noop %}</a>

        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <h3 style="font-size: 26px;
            letter-spacing: 2px;
            font-weight: 600;
            color: #000;">{% trans "TEAM KOYTOLA" noop %}</h3>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="float: right;">
            <p style="line-height: 1;
              margin-top: 0;
              float: left;
              text-align: right;
              position: relative;
              top: -80px;">
                <img style="width: 150px;
                position: relative;
                right: 60px;
                top: 0px;
                height: 75px;
                object-fit: cover;" src="https://testing-backend.koytola.com/media/emails/arrow_img.gif" alt="">

                <span style="display: inline-block;
                  width: 100%;
                  font-weight: 600;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 10px;
                  z-index: 9999999;
                  position: relative;">{% trans "Contact" noop %}</span>

                <span style="display: inline-block;
                  width: 100%;
                  font-weight: 600;
                  font-size: 18px;
                  color: #000;
                  position: relative;
                  z-index: 99999;">{% trans "export@koytola.com" noop %}</span>
            </p>
        </td>
    </tr>


    </tbody>
</table>

</body>
</html>