<!DOCTYPE html>
<html>
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <title>INVOICE</title>
</head>
<body style="background-color:#fff;">
{% load i18n %}
      {% load i18n_address_tags %}{% load static %}
<table>
     <tr>
      <td width="10%" style="vertical-align: top;">
        <img style="width: 140px;" src="https://testing-backend.koytola.com/media/emails/bloast_fir.gif" alt="">
      </td>
      <td width="80%">
          <table style="background:#ffffff;position: relative; font-family: 'Poppins', sans-serif;  border-spacing: 0; border-collapse:collapse; width: 100%; margin: 0 auto;">
  <tbody>
    <tr>
        <td colspan="2" style="text-align: center;">
            <p style="font-weight: 500;
                    font-size: 15px;
                    color: #000;
                    text-align: center;
                    margin: 40px auto;
                    line-height: 36px;">
                    {% trans "Merhaba"  noop %}<br />
                    {% trans "Güzel haberimiz var."  noop %}<br />
                    {% trans "Ürünlerin hakkında bilgi almak isteyen potansiyel bir alıcın var."  noop %}<br />
                    {% trans "Bilgilerini direkt seninle paylaşıyoruz."  noop %} <br />
                    {% trans "En kısa zamanda iletişime geçmeni bekliyoruz"  noop %}
            </p>
        </td>
    </tr>

    <tr>
        <td style="text-align: center;">
          <div style="width: 50%;
          margin: auto;">
            <ul style="width: 50%;
            float: left;
            padding-left: 0;
            margin: 0;
            list-style: none;">
              <li style="color: #7A38DA;
              font-weight: 500;">{% trans "Name"  noop %}</li>
              <li style="color: #7A38DA;
              font-weight: 500;">
                {% trans "Email"  noop %}
              </li>
              <li style="color: #7A38DA;
              font-weight: 500;">
                {% trans "Product"  noop %}
              </li>
              <li style="color: #7A38DA;
              font-weight: 500;">
                {% trans "Quantity"  noop %}
              </li>
              <li style="color: #7A38DA;
              font-weight: 500;">
                {% trans "Destination"  noop %}
              </li>
            </ul>
            <ul style="list-style: none;
            margin: 0;
            padding-left: 0;">
              <li style="color: #000;
              font-weight: 500;">{{ order.name }}</li>
              <li style="color: #000;
              font-weight: 500;">
                {{ order.email }}
              </li>
              <li style="color: #000;
              font-weight: 500;">
                {{ order.product.name }}
              </li>
              <li style="color: #000;
              font-weight: 500;">
                {{ order.quantity }}
              </li>
              <li style="color: #000;
              font-weight: 500;">
                {{ order.country }}
              </li>
            </ul>
          </div>
        </td>
    </tr>

    <tr>
        <td colspan="3" style="text-align: center;">
            <h3 style="font-size: 26px;
            letter-spacing: 2px;
            margin-top: 50px;
            font-weight: 600;
            color: #000;">{% trans "TEAM KOYTOLA"  noop %}</h3>
        </td>
    </tr>
    </tbody>
  </table>
      </td>
         <td width="10%" style="vertical-align: bottom;">&nbsp;</td>
    </tr>
    <tr>
        <td width="10%" colspan="3">
            <p style="line-height: 1;
              margin-top:0;
              text-align: right;">
              <img src="https://testing-backend.koytola.com/media/emails/arrow_img.gif"  style="width: 100px;
                height: 75px;
                object-fit: cover" alt="send logo"/>

                <span style="display: inline-block;
                  width: 100%;
                  font-weight: 600;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 10px;
                  z-index: 9999999;
                  ">{% trans "Contact"  noop %}</span>

                <span style="display: inline-block;
                  width: 100%;
                  font-weight: 600;
                  font-size: 18px;
                  color: #000;
                  position: relative;
                  z-index: 99999;">{% trans "export@koytola"  noop %}</span>
            </p>
        </td>
    </tr>
</table>


</body>
</html>

